body {
  /* margin: 0; */
  background-color: #2e3440;
}

.rps {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
}

.rps img {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  height: 10rem;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.selection {
  display: flex;
  gap: 50px;
}

.selection h3 {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Helvetica', sans-serif;
}

.computer-img,
.player-img {
  width: 10rem;
  height: 10rem;
  background-size: 10rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 30px;
}
